name: Build, deploy dev, draft main

on:
  push:
    branches:
      - main
      - master

jobs:
  permissions:
    contents: read
    packages: write
  build:
    uses: navikt/dok-workflows/.github/workflows/build-deploy-main.yml@main
    secrets: inherit
