name: Manually triggered deployment of tag to environment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        default: 'q2'
        type: choice
        options:
          - none
          - prod
          - q1
          - q2

jobs:
  deploy-prod:
    uses: navikt/dok-workflows/.github/workflows/deploy-nais-app.yml@master
    secrets: inherit
    with:
      build-tag: ${{github.ref_name}}
      nav-cluster: ${{github.event.inputs.environment == 'prod' && 'prod-fss' || 'dev-fss' }}
      nav-environment: ${{github.event.inputs.environment}}