name: Manually triggered deployment of tag to environment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        default: 'q2'
        type: choice
        options:
          - none
          - prod
          - q1
          - q2
      tag:
        description: 'Git tag'
        required: true
        type: string
        default: 'Replace with tag'

jobs:
  deploy-prod:
    uses: navikt/dok-workflows/.github/workflows/deploy-nais-app.yml@4c0ad577af27947d8d3e876a40039d206f5a9e26
    secrets: inherit
    with:
      build-tag: ${{github.event.inputs.tag}}
      nav-cluster: ${{github.event.inputs.environment == 'prod' && 'prod-fss' || 'dev-fss' }}
      nav-environment: ${{github.event.inputs.environment}}